<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/styles.css" />
  <title>Servidor con SOCKET.io</title>
</head>
<body>
  <!-- <div class="">working</div>
  <p id="text"></p>
  <button id="emit_to_server">CLICK</button>
  <button id="hello-last">hello last</button> -->

  <!-- <ul class="room" id="room1"></ul>
  <ul class="room" id="room2"></ul>
  <ul class="room" id="room3"></ul>

  <button id="connectRoom1">Room 1</button>
  <button id="connectRoom2">Room 2</button>
  <button id="connectRoom3">Room 3</button>

  <br>

  <button type="button" id="sendMessage">Send message</button>

  <div id="circle"></div> -->

  <!-- NAMESPACES -->
  <h1>Chat de <span id="namespace"></span></h1>

  <ul id="chat"></ul>

  <button id="sendMessageNamespace">Enviar mensaje</button>
  
  <script src="/socket.io/socket.io.js"></script>
  <script src="./js/index.js"></script>
</body>
</html>